extends layout

block content
    center
        .w3-container.w3-margin.w3-left(style="width:48%")
            .w3-card-4.w3-white.w3-border.w3-border-lime
                header.w3-container.w3-margin-top
                    .w3-lime
                        h3
                            b #{recurso.titulo}
                    .w3-container
                        .w3-container.w3-margin-top(style="text-align:left")
                            b Subtítulo: 
                            | #{recurso.subtitulo}

                        .w3-container.w3-margin-top(style="text-align:left")
                            b Tipo(s): 
                            | #{recurso.tipo[0]}
                            - var i = 1
                            while i < recurso.tipo.length
                                | , #{recurso.tipo[i]}
                                - i++
                        
                        .w3-container.w3-margin-top(style="text-align:left")
                            b Utilizador que inseriu: 
                            | #{recurso.nomeProdutor}
                        
                        .w3-container.w3-margin-top(style="text-align:left")
                            b Email do Utilizador: 
                            | #{recurso.emailProdutor}

                        .w3-container.w3-margin-top(style="text-align:left")
                            b Visibilidade: 
                            if(recurso.visibilidade)
                                | Público
                            else
                                | Privado
                      
                        .w3-container.w3-margin-top(style="text-align:left")
                            b Data de Criação: 
                            | #{recurso.dataCriacao}

                        .w3-container.w3-margin-top.w3-margin-bottom(style="text-align:left")
                            b Data de Registo: 
                            | #{recurso.dataRegisto}
                    
                    .w3-container.w3-margin
                        if(recurso.likes.includes(email))
                            form.w3-third(method='POST' action=`/recurso/like/${recurso._id}` )
                                input(type='submit' value=`${(recurso.likes).length} Likes` style="background-color:#ff9900; color: white")
                        else
                            form.w3-third(method='POST' action=`/recurso/like/${recurso._id}` )
                                input(type='submit' value=`${(recurso.likes).length} Likes` style="background-color:white; color: black")
                        
                        form.w3-third(method='GET' action=`/recurso/download/${recurso.nomeFicheiro}`)
                            input(type='submit' value='Download' style="background-color:#99bbff; color: white")

                        if (nivel == 2 || recurso.emailProdutor == email)
                            form.w3-third(method='POST' action=`/recurso/${recurso._id}`)
                                input(type='submit' value='Apagar' style="background-color:#e60000; color: white")

                footer.w3-container
                    address.w3-right
                        a(href="/recurso") 
                            button.w3-button.w3-margin Voltar

        .w3-container.w3-margin.w3-right(style="width:48%")
            .w3-card-4.w3-white.w3-border.w3-border-lime
                header.w3-container.w3-margin-top
                    .w3-lime
                        h5
                            b Comentários
                each c in recurso.comentarios
                    .w3-container.w3-margin.w3-border.w3-border-lime(style="text-align:left; margin-top:20px")
                        b #{c.nome}: 
                        | #{c.comentario}
                        if(nivel == 2 || recurso.emailProdutor == email)
                            form.w3-right(action=`/recurso/comentario/apagar/${recurso._id}` method="POST")
                                input(type="submit" value="X" style="background-color:#e60000; color: white; height: 25px")
                                input(type="hidden" name="nome" value =c.nome)
                                input(type="hidden" name="comentario" value =c.comentario)
                        
                form.w3-container.w3-margin(action=`/recurso/comentario/${recurso._id}` method="POST")
                    input.w3-input.w3-border(type="text" name="comentario" placeholder="Escreva um comentário..." style="width:400px")